@media only screen and (max-width: 600px) {
    *{
        font-size: 12px;
    }

    .navBar{
        display: none; 
    }

nav {
        display: block;
        width: 100vw;
        height: 100vh;
        margin-top: 0px;
        margin-bottom: 14px;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        background-color: var(--primary);
        color: var(--white);
    }

#logo {
    display: none;
}

#menu {
    display: block;
    position: fixed; 
    top: 4px; 
    left: 4px; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background-color: var(--primary);
    z-index: 40;
}

#menu > img {
    position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    height: 20px; 
    width: 20px;
}

#closeIcon {
    display: inline;
    margin-bottom: 2px;
}

#navBar>ul {
    display: block;
    padding: 0px; 
    margin: 0 auto;
}

#navBar >ul > li {
    font-size: 4rem;
        padding: 0px;
            margin: 0 auto;
}

    footer {
        width: 100vw;
        background-color: var(--primary);
        color: var(--white);
        
    }

    
}