
body{
    font-family: "Times New Roman", Times, serif;
}
:root{
    --whitecolor: #fff;
    --maincolor: #2C5595;
    --blackcolor: #000;
}

header{
    background-color: var(--whitecolor);
}
.top-header{
    width: 100%;
    background-color: var(--maincolor);
    padding: 16px 0;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.top-header ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-header ul li {
    position: relative;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    padding: 0 10px;
    position: relative;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    text-decoration: none;
}
.top-header ul li a{
    font-size: 20px;
    
    color: #fff;
    text-decoration: none;
}
.top-header ul li::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: var(--whitecolor);
    -webkit-ransform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-ransform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.top-header ul li:last-child::before{
    display: none;
}
.inner-header{
  position: relative;
}

header .bg-light{
    background-color: var(--whitecolor) !important;
}
header .bg-light .navbar-nav .nav-item .nav-link{
    font-size: 18px;
    font-weight: 400;
    color: var(--maincolor) ;
}
header .bg-light .navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0;
}



/*********Banner Section *****************/

.banner-section{
    width: 100%;
  ;
    position: relative;
    /* background-position: left; */
}
.banner-section::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 85, 149, 0.5);
}
.banner-section .item-section{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.banner-section .txt-banner{
    font-size: 50px;
    color: var(--whitecolor);
    letter-spacing: 0;
    margin: 0;
}
.banner-section .title{
    font-size: 100px;
    font-weight: bold;
    color: var(--whitecolor);
    margin: 0;
}
.banner-section .sub-title{
    font-size: 55px;
    color: var(--whitecolor);
    letter-spacing: 0.5px;
    margin: 0;
    line-height: 1.2;
    text-align: left;
}


/**************** About Section ***************/
.about-section{
    padding: 50px 0;
}
.mainvd{
    max-width: 680px;
    margin: 0 auto;
}
.video-section{
    margin: 20px 0 30px;
}
.item-box{
    overflow: hidden;
    margin-top: 15px;
}
.item-box .img-thumbnail{
    border: 0;
    padding: 0;
    border-radius: 0;
}
.txt-ab{
    font-size: 30px;
    line-height: 30px;
    color: var(--maincolor);
}
.title-2{
    font-size: 40px;
    color: var(--maincolor);
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
    margin-bottom: 15px;
}
.sub-title{
    font-size: 22px;
    letter-spacing: 0;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.75);
    text-align: center  ;
}
.btn.btn-primary{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    background-color: var(--maincolor);
    border-radius: 8px;
}

/*************** version-section ****************/

.version-section{
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 40px 0;
    background-size: cover;
    background-position: center;

}
.version-section .vr-title{
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
}
.inner-slider .owl-carousel .item{
    /* height: 540px; */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    padding: 40px 40px 50px;
    background-position: top center;
}
.inner-slider .owl-carousel .item .slider-top{
    width: 60%;
}
.inner-slider .owl-carousel .item .slider-top h3{
    font-size: 25px;
    line-height: 32px;
    color: var(--maincolor);
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 20px;
}
.inner-slider .owl-carousel .item .slider-top p{
    font-size: 18px;
    color: var(--blackcolor);
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0;
}
.inner-slider .owl-carousel .owl-dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.inner-slider .owl-carousel .owl-dots .owl-dot span{
    width: 16px;
    height: 16px;
    border-radius: 100px;
    border: 1px solid var(--maincolor);
    display: inline-block;
    margin-right: 10px;
}
.inner-slider .owl-carousel .owl-dots .owl-dot:last-child span{
    margin-right: 0;
}
.inner-slider .owl-carousel .owl-dots .owl-dot.active span{
    background-color: var(--maincolor);
}
.read-more{
    font-size: 20px;
    color: var(--maincolor);
    line-height: 30px;
    text-decoration: none;
    font-weight: 400;
    position: relative;
}
.read-more:hover{
    color: var(--maincolor);
}
.read-more::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background: var(--maincolor);
}
.lst-section{
    padding: 50px 0;
    background-color: var(--maincolor);
}
.custom-flex{
    align-items: center;
}
.lst-txt{
    font-size: 25px;
    color: var(--whitecolor);
    font-weight: 400;
    line-height: 37px;
    margin: 0;
}
.btn.btn-contact{
    font-size: 22px;
    font-weight: 400;
    color: var(--whitecolor);
    border-radius: 8px;
    border: 1px solid var(--whitecolor);
}
.btn.btn-contact:focus{
    outline: none;
    box-shadow: none;
}
.custom-flex .btn{
    float: right;
}



/************* Footer Css ****************/

.top-footer{
    background-color: var(--whitecolor);
    padding: 40px 0;
}
.footer-title{
    font-size: 18px;
    color: var(--maincolor);
    font-weight: bold;
    margin-bottom: 15px;
}

.quicklist{
    margin: 0;
    padding: 0;
    list-style: none;
}
.quicklist li a {
    font-size: 18px;
    color: var(--maincolor);
    text-decoration: none;
    line-height: 22px;
    margin-bottom: 5px;
    font-weight: 400;
    display: inline-block;
}
.quicklist li:last-child a{
    margin-bottom: 0;
}

.list2{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list2 li{
    display: flex;
    margin-bottom: 10px;
}
.list2 li a span{
    display: inline-block;
    margin-right: 10px;
}
.list2 li a {
    font-size: 18px;
    color: var(--maincolor);
    line-height: 22px;
    text-decoration: none;
    display: flex;
    font-weight: 400;
}
.newletterForm .form-control{
    background-color: #F1F1F1;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 0;
}
.newletterForm .form-control:focus{
    outline: none;
    box-shadow: none;
}
.newletterForm .form-control::placeholder{
    color: rgba(0, 0, 0, 0.2);
}
.newletterForm .btn.btn-submit{
    font-size: 18px;
    color: var(--whitecolor);
    background-color: var(--maincolor);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}
.newletterForm .btn.btn-submit:focus{
    outline: none;
    box-shadow: none;
}
.copyright{
    background-color: var(--maincolor);
}
.copyright-lsit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.copyright-lsit li{
    padding: 10px;
    position: relative;
}
.copyright-lsit li:nth-child(2)::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: var(--whitecolor);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.copyright-lsit li a{
    font-size: 16px;
    color: var(--whitecolor);
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
}